@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --color-primary-Red: hsl(4, 100%, 67%);
  --color-primary-pink: hsl(347, 64%, 55%);
  --color-neutral-Blue-800: hsl(234, 29%, 20%);
  --color-neutral-Blue-700: hsl(235, 18%, 26%);
  --color-neutral-Grey: hsl(0, 0%, 58%);
  --color-neutral-White: hsl(0, 0%, 100%);
  --ff: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fs: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background-color: var(--color-neutral-Blue-700); */
  font-family: var(--ff);
  font-size: var(--fs);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
}

p {
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sign-up-form {
  width: 100%;
  max-width: 375px;
  background-color: var(--color-neutral-White);
  display: grid;
  place-items: center;
}
.sign-up-form__image-wrapper {
}

.sign-up-form__image {
  width: 100%;
  /* max-width: 375px; */
  height: 284px;
  object-fit: cover;
  object-position: center;
}

.sign-up-form__text {
  padding-inline: 25px;
  padding-block: 35px 40px;
  color: var(--color-neutral-Blue-800);
}

.sign-up-form__text h2 {
  font-size: 2.55rem;
}

.sign-up-form__text > p {
  padding-block: 16px;
  line-height: 1.6;
}
.sign-up-form__text ul {
  padding-block-end: 37px;
}
.sign-up-form__text ul li {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  padding-block: 7px;
  line-height: 1.5;
  font-size: 15px;
  font-weight: var(--fw-normal);
}

.sign-up-form__text ul li::before {
  content: "";
  background-image: url("./assets/images/icon-list.svg");
  display: inline-block;
  width: 21px;
  height: 21px;
  /* border-radius: 50%; */
}

label,
input,
button {
  display: block;
  width: 100%;
  font-family: var(--ff);
}

label {
  font-weight: var(--fw-bold);
  font-size: 11px;
  padding-block-end: 10px;
}

#email {
  padding-block: 20px;
  padding-inline-start: 20px;
  border: 1px solid var(--color-neutral-Grey);
  border-radius: 8px;
}
#email::placeholder {
  font-size: 14px;
}
#email::placeholder:focus {
  color: var(--color-neutral-Blue-800);
}
#email:focus,
#email:hover {
  border-color: var(--color-neutral-Blue-800);
}
.sign-up-buttom {
  margin-block-start: 22px;
  padding-block: 20px;
  border: none;
  background-color: var(--color-neutral-Blue-800);
  color: var(--color-neutral-White);
  font-weight: var(--fw-bold);
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.sign-up-buttom:hover {
  background: linear-gradient(
    var(--color-primary-pink),
    var(--color-primary-Red)
  );
}

.successful-signup {
  padding-block-start: 5rem;
  padding-inline: 25px;
  display: grid;
  width: 375px;
}
.successful-signup h1 {
  font-size: 2.6rem;
  line-height: 1;
  padding-block: 40px 24px;
}

.successful-signup p {
  width: 39.32ch;
  padding-block-end: 14rem;
}

.successful-signup button {
  width: 100%;
  align-self: flex-end;
  justify-self: center;
  bottom: 0;
}
