@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --color-primary-Red: hsl(4, 100%, 67%);
  --color-neutral-Blue-800: hsl(234, 29%, 20%);
  --color-neutral-Blue-700: hsl(235, 18%, 26%);
  --color-neutral-Grey: hsl(0, 0%, 58%);
  --color-neutral-White: hsl(0, 0%, 100%);
  --ff: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fs: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--color-neutral-Blue-700);
  font-family: var(--ff);
  font-size: var(--fs);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sign-up-form {
  width: 375px;
  background-color: var(--color-neutral-White);
  display: grid;
  place-items: center;
}
.sign-up-form__image-wrapper {
}

.sign-up-form__image {
  width: 100%;
  /* max-width: 375px; */
  height: 284px;
  object-fit: cover;
  object-position: center;
}

.sign-up-form__text {
  padding-inline: 25px;
  padding-block: 30px;
  color: var(--color-neutral-Blue-800);
}

.sign-up-form__text h2 {
  font-size: 2.5rem;
}

.sign-up-form__text > p {
  padding-block: 20px;
}
.sign-up-form__text ul {
}
.sign-up-form__text ul li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding-block: 5px;
  line-height: 1.5;
}

.sign-up-form__text ul li::before {
  content: "";
  background-image: url("./assets/images/icon-list.svg");
  display: inline-block;
  width: 21px;
  height: 21px;
  /* border-radius: 50%; */
}
