/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/barlow-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/barlow-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/barlow-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --color-orange: hsl(22, 89%, 52%);
    --color-orange-lt: hsl(22, 100%, 69%);
    --color-blue: hsl(220, 50%, 17%);
    --color-blue-lt: hsl(221, 23%, 58%);
    --color-grey-lt: hsl(198, 28%, 93%);
    --color-white: hsl(0, 0%, 100%);
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    color: var(--color-blue);
    margin: 0;
    min-height: 100vh;
    padding-block: 24px;
}


h1,
h2,
h3{
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1rem;
    color: var(--color-blue-lt);
}

p > strong{
    font-weight: 700;
}

strong.caps{
    text-transform: uppercase;
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    font-family: inherit;
    transition: 150ms ease-in-out;
    transition-property: background-color, color;
}

button:hover{
    cursor: pointer;
}

.button {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625;
    text-transform: uppercase;
    padding: 16px 24px;
    border: 0;
    border-radius: 8px;
}

.button.blue{
    background-color: var(--color-grey-lt);
    color: var(--color-blue);
}

.button.blue:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.button.orange{
    background-color: var(--color-orange);
    color: var(--color-white);
}

.button.orange:hover{
    background-color: var(--color-orange-lt);
     
}

.grid-main{
    display: grid;
   grid-template-columns: 1fr
    repeat(3,  calc((100% - 48px) / 3))
    1fr;
}


.grid-content{
    grid-column: 2 / 3;
    
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    grid-column: 2 / -2;
}

.hero-img{
    grid-column: 2 / -1;
}

.gray-block{
    display: none;
    width: 255px;
    height: 240px;
    border-radius: 20px;
    background-color: var(--color-grey-lt);
}



/* Media Queries */

/* 800px */
@media (width >= 50em){
    body{
        padding-block: 40px;
    }
}

@media (width >= 50em) {
    .grid-main{
    grid-template-columns: 1fr min(100% - 80px, 50rem) 1fr;
}
}

/* 1200px */


@media (width >= 75em){
    body{
        padding-block: 55px;
    }
}

@media (width >= 75em){
    h1{
        font-size: 3.5rem;
    }

    p{
        font-size: 1.125rem;
    }

    .gray-block{
        display: block;
    }
}