@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --color-Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --color-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --color-Grayish-Blue: hsl(212, 23%, 69%);
  --color-Light-Grayish-Blue: hsl(210, 46%, 95%);
  --ff: "Outfit", sans-serif;
  --fs: 0.8125rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(221, 244, 250);
  font-family: var(--ff);
  font-size: var(--fs);
  /* margin-inline: 5rem auto; */
  /* margin: 0auto; */
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: var(--color-Very-Dark-Grayish-Blue);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.article-preview__wrapper {
  background-color: #fff;
  width: 325px;
  margin-block-start: 3rem;
  border-radius: 12px;
  box-shadow: -1px 10px 10px var(--color-Grayish-Blue);
}

img,
svg {
  display: block;
  width: 100%;
}

.article-preview__image {
  height: 215px;
  object-fit: cover;
  object-position: top;
  border-radius: 12px 12px 0 0;
}

.article-preview__content {
  position: relative;
  padding-block: 45px 20px;
  padding-inline: 36px;
}

.article-preview__info {
  font-size: 1.1rem;
  font-weight: 500;
  padding-block-end: 14px;
}

.article-preview__content > p {
  color: var(--color-Very-Dark-Grayish-Blue);
  font-size: 0.84375rem;
  padding-block-end: 28px;
}

.article-preview__avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-preview__avatar-content {
  display: none;
  gap: 15px;
  color: var(--color-Grayish-Blue);
}

.article-preview__content h3 {
  font-size: 0.8rem;
  font-weight: 500;
}
.article-preview__avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-preview-share-icon img {
  width: 15px;
  height: 13px;
  transition: background 250ms ease-in-out;
}

/* .article-preview-share-icon img:hover {
  border-radius: 50%;
  padding: 14px;
  background-color: var(--color-Grayish-Blue);
} */

.article-preview-open-share {
  /* display: none; */
  color: #fff;
  background-color: var(--color-Very-Dark-Grayish-Blue);
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  width: calc(100% + 1px);
  bottom: -20px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 36px;
  padding-block: 20px;
  /* flex-direction: ; */
}

.article-preview-open-share img {
  display: inline;
  width: 20px;
  height: 17px;
  color: #fff;
}

.open-sare__icons {
  display: flex;
  gap: 15px;
}
.article-preview-open-share p {
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-Grayish-Blue);
}
.article-preview-open-share ul {
  display: flex;
  gap: 10px;
}

@media (min-width: 68.75em) {
  .article-preview__wrapper {
    margin-block-start: 0;
    display: grid;
    grid-template-columns: 38% 62%;
    width: 750px;
  }

  .article-preview__image {
    object-position: center left;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
  }

  .article-preview__content {
    padding-block: 25px 40px;
    padding-inline-end: 41px;
  }

  .article-preview__info {
    font-size: 1.59rem;
  }

  .article-preview__content > p {
    font-size: 1rem;
  }

  .article-preview__content h3 {
    font-size: 1.05rem;
    padding-block-end: 5px;
  }
}
